.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  .error-title {
    font-size: 3em;
    margin: 0;
  }
  
  .error-message {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #555;
  }